<header>
<div class="container">
  <div class="row">
         <div class="col-md-5 col-lg-4 col-xs-8">
            <img class="img-responsive" src="../assets/FRUTAFRUIT.png" alt="logotipo">
         </div>

   <div class="menu col-md-4 col-lg-4 col-lg-offset-2 col-xs-1 ">
         <app-menu></app-menu>
   </div>
   <div class="col-md-2 col-lg-2 col-xs-3">
         <app-registro></app-registro>
   </div>
 </div>
</div>
</header>

<section>
            <div class="container">
               <div class="row">
                  <app-mostrador></app-mostrador>
              </div>
            </div>
</section>